USE [master]
GO
/****** Object:  Database [FightClubDb]    Script Date: 5/15/2021 5:27:26 PM ******/
CREATE DATABASE [FightClubDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FightClubDb', FILENAME = N'D:\Program Files\SQL Server Management Studio 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\FightClubDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FightClubDb_log', FILENAME = N'D:\Program Files\SQL Server Management Studio 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\FightClubDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FightClubDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FightClubDb]
GO
/****** Object:  User [abstract]    Script Date: 5/15/2021 5:27:26 PM ******/
CREATE USER [abstract] FOR LOGIN [abstract] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [abstract]
GO
/****** Object:  Schema [FightClubDbSchema]    Script Date: 5/15/2021 5:27:26 PM ******/
CREATE SCHEMA [FightClubDbSchema]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CovidTest]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CovidTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsPositive] [bit] NULL,
	[TestDate] [datetime] NULL,
	[FighterId] [int] NULL,
	[IsolationBubbleId] [int] NULL,
 CONSTRAINT [PK_CovidTests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fight]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FighterId1] [int] NULL,
	[FighterId2] [int] NULL,
	[TournamentId] [int] NULL,
	[FightTime] [datetime] NULL,
	[WinnerId] [int] NULL,
 CONSTRAINT [PK_Fights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fighter]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fighter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](20) NULL,
	[Birthday] [datetime] NULL,
	[Weight] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_Fighters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invite]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FighterId] [int] NULL,
	[TournamentId] [int] NULL,
	[DateSent] [datetime] NULL,
	[InviteState] [int] NULL,
 CONSTRAINT [PK_Invites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsolationBubble]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsolationBubble](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_IsolationBubbles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](20) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[OrganizerId] [int] NULL,
	[StartDate] [datetime] NULL,
 CONSTRAINT [PK_Tournament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentFighter]    Script Date: 5/15/2021 5:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentFighter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TournamentId] [int] NULL,
	[FighterId] [int] NULL,
 CONSTRAINT [PK_TournamentFighters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CovidTest] ON 

INSERT [dbo].[CovidTest] ([Id], [IsPositive], [TestDate], [FighterId], [IsolationBubbleId]) VALUES (1159, 0, CAST(N'2021-05-01T00:00:00.000' AS DateTime), 45, 1)
INSERT [dbo].[CovidTest] ([Id], [IsPositive], [TestDate], [FighterId], [IsolationBubbleId]) VALUES (1160, 0, CAST(N'2021-05-01T00:00:00.000' AS DateTime), 45, 1)
INSERT [dbo].[CovidTest] ([Id], [IsPositive], [TestDate], [FighterId], [IsolationBubbleId]) VALUES (1161, 0, CAST(N'2021-05-08T00:00:00.000' AS DateTime), 45, 3)
SET IDENTITY_INSERT [dbo].[CovidTest] OFF
GO
SET IDENTITY_INSERT [dbo].[Fight] ON 

INSERT [dbo].[Fight] ([Id], [FighterId1], [FighterId2], [TournamentId], [FightTime], [WinnerId]) VALUES (1161, 45, 48, 18, CAST(N'2021-04-08T00:00:00.000' AS DateTime), 48)
INSERT [dbo].[Fight] ([Id], [FighterId1], [FighterId2], [TournamentId], [FightTime], [WinnerId]) VALUES (1162, 44, 46, 18, CAST(N'2021-04-11T00:00:00.000' AS DateTime), 44)
INSERT [dbo].[Fight] ([Id], [FighterId1], [FighterId2], [TournamentId], [FightTime], [WinnerId]) VALUES (1163, 44, 48, 18, CAST(N'2021-04-14T00:00:00.000' AS DateTime), 48)
SET IDENTITY_INSERT [dbo].[Fight] OFF
GO
SET IDENTITY_INSERT [dbo].[Fighter] ON 

INSERT [dbo].[Fighter] ([Id], [FirstName], [LastName], [Username], [Password], [Birthday], [Weight], [Height]) VALUES (44, N'Adrian', N'Buciuman', N'AdiB', N'adi', CAST(N'1999-02-10T00:00:00.000' AS DateTime), 70, 178)
INSERT [dbo].[Fighter] ([Id], [FirstName], [LastName], [Username], [Password], [Birthday], [Weight], [Height]) VALUES (45, N'Daniel', N'Bancos', N'DaniB', N'dani', CAST(N'2000-07-05T00:00:00.000' AS DateTime), 80, 185)
INSERT [dbo].[Fighter] ([Id], [FirstName], [LastName], [Username], [Password], [Birthday], [Weight], [Height]) VALUES (46, N'Robert', N'Calatoae', N'RobiC', N'robi', CAST(N'1999-09-29T00:00:00.000' AS DateTime), 74, 170)
SET IDENTITY_INSERT [dbo].[Fighter] OFF
GO
SET IDENTITY_INSERT [dbo].[Invite] ON 

INSERT [dbo].[Invite] ([Id], [FighterId], [TournamentId], [DateSent], [InviteState]) VALUES (1050, 44, 18, CAST(N'2021-04-17T10:21:57.927' AS DateTime), 1)
INSERT [dbo].[Invite] ([Id], [FighterId], [TournamentId], [DateSent], [InviteState]) VALUES (1051, 45, 18, CAST(N'2021-04-17T10:22:00.423' AS DateTime), 1)
INSERT [dbo].[Invite] ([Id], [FighterId], [TournamentId], [DateSent], [InviteState]) VALUES (1052, 47, 18, CAST(N'2021-04-17T10:22:02.520' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Invite] OFF
GO
SET IDENTITY_INSERT [dbo].[IsolationBubble] ON 

INSERT [dbo].[IsolationBubble] ([Id], [Name]) VALUES (1, N'Cluj - Napoca')
INSERT [dbo].[IsolationBubble] ([Id], [Name]) VALUES (2, N'Orastie')
INSERT [dbo].[IsolationBubble] ([Id], [Name]) VALUES (3, N'Timisoara')
SET IDENTITY_INSERT [dbo].[IsolationBubble] OFF
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([Id], [FirstName], [LastName], [Username], [Password]) VALUES (5, N'Gabriel', N'Stancu', N'GabrielS', N'gabi')
INSERT [dbo].[Manager] ([Id], [FirstName], [LastName], [Username], [Password]) VALUES (6, N'Mircea', N'Tantau', N'MirceaT', N'mircea')
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([Id], [Name], [Location], [OrganizerId], [StartDate]) VALUES (15, N'UFC Orastie', N'Orastie', 5, CAST(N'2021-04-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Tournament] ([Id], [Name], [Location], [OrganizerId], [StartDate]) VALUES (17, N'MMA Cluj-Napoca', N'Cluj-Napoca', 5, CAST(N'2021-04-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Tournament] ([Id], [Name], [Location], [OrganizerId], [StartDate]) VALUES (18, N'UFC Cluj-Napoca', N'Cluj-Napoca', 5, CAST(N'2021-04-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentFighter] ON 

INSERT [dbo].[TournamentFighter] ([Id], [TournamentId], [FighterId]) VALUES (1039, 18, 44)
INSERT [dbo].[TournamentFighter] ([Id], [TournamentId], [FighterId]) VALUES (1040, 18, 45)
INSERT [dbo].[TournamentFighter] ([Id], [TournamentId], [FighterId]) VALUES (1041, 18, 47)
SET IDENTITY_INSERT [dbo].[TournamentFighter] OFF
GO
USE [master]
GO
